{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
  
{% endblock title %}
{% block content %}
<div class="page-header">
    <div class="row">
       <div class="col">
          <h3 class="page-title">Change Password</h3>
          <ul class="breadcrumb">
             <li class="breadcrumb-item"><a href="index.html">Profile</a></li>
             <li class="breadcrumb-item active">Change Password</li>
          </ul>
       </div>
    </div>
 </div>
 <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
        
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>Password Change Successful</span></h5>
              </div>
              <p>Your password has been changed successfully.</p>



</div>
<a class="btn btn-primary" href="{% url "profile" %}" type="submit">go back to profile</a>

        </div>
      </div>
    </div>
  </div>

{% endblock %}