{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
  
{% endblock title %}
{% block content %}
<div class="page-header">
    <div class="row">
       <div class="col">
          <h3 class="page-title">Change Password</h3>
          <ul class="breadcrumb">
             <li class="breadcrumb-item"><a href="index.html">Profile</a></li>
             <li class="breadcrumb-item active">Change Password</li>
          </ul>
       </div>
    </div>
 </div>
 <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>Change Password</span></h5>
              </div>

              <div class="col-12 col-sm-6">
                  <div class="form-group">
                      <label>Old Password</label>
                      {% render_field form.old_password class="form-control"  placeholder='old pasword' %}
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>New Password</label>
                    {% render_field form.new_password1 class="form-control"  placeholder='new pasword' %}
              </div>
            </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>New Password</label>
                    {% render_field form.new_password2 class="form-control"  placeholder='password confirmation' %}
              </div>
            </div>
              
              <div class="col-12">
                <button type="submit" class="btn btn-primary">
                    Change Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}