<div class="sidebar-inner slimscroll">
   <div id="sidebar-menu" class="sidebar-menu">
      <ul>
         <li class="menu-title">
            <span>Main Menu</span>
         </li>
         <li class="submenu">
            <a href="#"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
            <ul>
               <li><a href="index.html">Dashboard</a></li>

            </ul>
         </li>
         <li class="submenu">
            <a href="#"><i class="fas fa-user-graduate"></i> <span>Doctors</span> <span class="menu-arrow"></span></a>
            <ul>
               <li><a href="{% url "admn:create_doctor" %}">create a profile</a></li>
               <li><a href="{% url "admn:list_doctor" %}">List of doctors</a></li>
            </ul>
         </li>
         <li class="submenu">
            <a href="#"><i class="fas fa-user-graduate"></i> <span>secretary</span> <span class="menu-arrow"></span></a>
            <ul>
               <li><a href="{% url "admn:create_sect" %}">create a profile</a></li>
               <li><a href="{% url "admn:list_sect" %}">List of secretary</a></li>
            </ul>
         </li>
         <li class="submenu">
            <a href="#"><i class="fas fa-user-graduate"></i> <span>Patients</span> <span class="menu-arrow"></span></a>
            <ul>
               <li><a href="{% url "admn:create_patient" %}">create a profile</a></li>
               <li><a href="{% url "admn:patient_list" %}">List of petient</a></li>
            </ul>
         </li>
         <li class="submenu">
            <a href="#"><i class="fas fa-user-graduate"></i> <span>Appointments</span> <span class="menu-arrow"></span></a>
            <ul>
                <li><a href="">reserve Appointments</a></li>
               <li><a href="index.html">list of Appointments</a></li>
               <li><a href="index.html">Payments</a></li>
            </ul>
         </li>
         <li class="submenu">
            <a href="#"><i class="fas fa-user-graduate"></i> <span>History</span> <span class="menu-arrow"></span></a>
            <ul>
                <li><a href="teacher-dashboard.html">Patients</a></li>
               <li><a href="index.html">Appointments</a></li>
               <li><a href="index.html">Payments</a></li>
            </ul>
         </li>





      </ul>
   </div>
</div>