{% extends "base.html" %}

{% block title %}
  collecteurs
{% endblock title %}

{% block content %}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">meds</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">med</li>
      </ul>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table
   id="table_id"
     class="table table-hover table-center mb-0 "
   > 
            <thead>
              <tr>
                <th>Name</th>
                <th>family</th>
                

              </tr>
            </thead>
            <tbody>

                {% for persone in meds %}
              <tr>
                

                <td>{{persone.name}}</td>
                <td>{{persone.family.name}}</td>


              </tr>
                
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}