{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <title>
        {% block title %}
          
        {% endblock title %}    
    </title>
      <link rel="shortcut icon" href="{% static 'dashboard/assets/img/favicon.png' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
      <link rel="stylesheet" href="{% static 'dashboard/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'dashboard/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'dashboard/assets/plugins/fontawesome/css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'dashboard/assets/css/style.css' %}">
   </head>
   <body>
      <div class="main-wrapper">
         <div class="header">
            <div class="header-left">
               <a href="" class="logo">
               <img src="{% static 'logo.png' %}" alt="Logo">
               </a>
               <a href="" class="logo logo-small">
               <img src="{% static 'dashboard/assets/img/logo-small.png' %}" alt="Logo" width="30" height="30">
               </a>
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
            </a>
            <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
            </a>

            <ul class="nav user-menu">
               
               <li class="nav-item dropdown has-arrow">
                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                     Profile
                  </a>
                  <div class="dropdown-menu">
                     <div class="user-header">

                        <div class="user-text">
                           <h6>{{user.first_name}} {{user.last_name}}</h6>
                        {% if user.is_patient %}
                           <p class="text-muted mb-0">patient</p>
                         {% elif user.doctor %}
                         <p class="text-muted mb-0">doctor</p>
                         {% elif user.is_secretary %}
                         <p class="text-muted mb-0">secretar</p>
                         {% else %}
                         <p class="text-muted mb-0">Administrator</p>
                         {% endif %}
                        </div>
                     </div>
                     <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>

                     <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  </div>
               </li>
            </ul>
         </div>
         <div class="sidebar" id="sidebar">
            {% if user.is_patient %}
            {% include "sidebars/patient.html" %}
            {% elif user.is_doctor %}
            {% include "sidebars/doctor.html" %}
            {% elif user.is_secretary %}
            {% include "sidebars/sec.html" %}
            {% else %}
            {% include "sidebars/admin.html" %}
         {% endif %}
         </div>
         <div class="page-wrapper">
            <div class="content container-fluid">

                {% block content %}
                  
                {% endblock content %}


            </div>
         </div>
      </div>
      <script src="{% static 'dashboard/assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'dashboard/assets/js/popper.min.js'%}"></script>
      <script src="{% static 'dashboard/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'dashboard/assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{% static 'dashboard/assets/js/script.js' %}"></script>
      <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript">
         $(document).ready(function () {
            $('#table_id').dataTable();
         });
      </script> 
   </body>
</html>

